<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Результат" name="analysis"/>
        </form>
        <form method="GET" action="/review">
            <input type="submit" value="Статьи">
        </form>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    {{ chart.as_html  }}
    {{ chart_tf.as_html  }}
</body>
</html>