<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Показать" name="state"/>
        </form>
    </div>
    <div>
        <form method="GET" action="/">
            <input type="submit" value="Вернуться назад">
        </form>
    </div>
    <div>

        {% for review in reviews %}
            <br>
            <a href="{{ review.link }}">{{ review.title }}</a>
            <div>{{ review.content }}</div>
        {% endfor %}
    </div>

</body>
</html>